.turningButtonContainer {
    margin-left:50px;
    margin-top:50px;
    width:220px;
    height:250px;
    perspective: 1000px;
}

.turningButtonContainerInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:5px;
    cursor: pointer;

}

.turningButtonContainer:hover .turningButtonContainerInner {
    transform: rotateY(-180deg);
}

.turningButton {
    position: absolute;
    width:100%;
    height:100%;
    border: 1px solid;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-color: #d9534f;
    border-radius:5px;
    text-align: center;
    line-height: 80px;
}


.turningButton, .turnedButton {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.turnedButton {
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d9534f;
    color: white;
    transform: rotateY(-180deg);
    padding: 15px;
    border-radius:5px;
}
.turningButton span{
    margin-top: -25px;
    color:black;
    font-size:45px;
    display:block;
    text-transform:uppercase;
}